<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de Imagem HTML</title>
</head>
<body>

    <h1>Exemplo de Imagem HTML</h1>

    <p>Esta é uma página simples que exibe uma imagem.</p>
    <img src="" alt="Descrição da imagem">
    <img src="/static/clientWeb/img/carousel-2.png" alt="Descrição da imagem">
    <!-- Substitua "sua_imagem.jpg" pelo caminho real da sua imagem -->
    
    <!-- Adicione um elemento com id="url-display" -->
    <div id="url-display"></div>

    <a>  {% static 'a' %} sadas </a>
    
    <!-- Adicione isso ao seu template HTML -->
    <script>
        // Obtém a URL atual do navegador
        var currentUrl = window.location.href;

        // Exibe a URL atual no console do navegador (pode ser removido em produção)
        console.log('URL Atual:', currentUrl);

        // Exibe a URL atual no elemento HTML com id="url-display"
        var urlElement = document.getElementById('url-display');
        if (urlElement) {
            urlElement.textContent = 'URL Atual: ' + currentUrl;
        }
    </script>

</body>
</html>
